.navbar-light .navbar-nav .nav-link{
    color: black;
}

.image {
    background-image: url("https://media.discordapp.net/attachments/971727360430850062/1093164725908541452/jpg_20230405_152106_0000.jpg?");
    background-repeat: no-repeat;
    height: 505px;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 20%;
    font-family: Adlery Swash;
    font-size: 50px;
}

.titretarifs {
    text-align: center;
    margin-top: 2%;
}
.cadre {
    border: 2px solid ;
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    float: left;
    margin-left: 2.5%;
    margin-top: 4%;
    height: 190px;
    border-radius: 4%;
    background-color: #eee;
  }
  
  h3 {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
  }
  
  .prix {
    font-weight: bold;
    text-align: center;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40%;
  }
  
  form button[type="submit"]:hover {
    background-color: #0062cc;
  }
  


  .gallery {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5%;
  }
  
  .filter-button-group {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .filter-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 10px;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filter-button.active {
    background-color: #333;
    color: #fff;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {
    overflow: hidden;
    position: relative;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
  
  .grid-item:hover img {
    transform: scale(1.1);
  }
  
  .grid-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .grid-item:hover:before {
    opacity: 1;
  }
  
  .grid-item:before,
  .grid-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .logo {
    height: 80px;
    width: 170px;
    margin-left: 2%;
  }
  .logofb {
    width: 30px;
  }
  .logoinsta {
    width: 30px;
  }
  .nav-links {
    margin-left: 280px;
  }
  .navbar-nav .logofb, .navbar-nav .logoinsta {
    margin-left: 280px;
    margin-right: -260px;
  }
  h2 {
    text-align: center;
    margin-top: 4%;
  }
 form {
  border: 2px solid;
 }


  
  
  
  